<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Contact - Abstract</title>
    <meta name="description" content="">
    <meta name="author" content="">

   <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/vendor.css">

    <!-- script
    ================================================== -->
    <!-- <script src="../js/modernizr.js"></script> -->

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img-favicon/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="row s-header__content">

            <div class="s-header__logo">
                <a class="logo" href="index.html">
                    <img src="/images/logo.svg" alt="Homepage">
                </a>
            </div>

            <nav class="s-header__nav-wrap">

                <h2 class="s-header__nav-heading h6">Site Navigation</h2>

                <ul class="s-header__nav">
                    <li><a href="/user/home" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Animal</a>
                        <ul class="sub-menu">
                            <li><a href="/blogs/category/1">Động vật có vú</a></li>
                            <li><a href="/blogs/category/2">Động vật có vỏ</a></li>
                            <li><a href="/blogs/category/3">Động vật không có xương sống</a></li>
                            <li><a href="/blogs/category/4">Chim</a></li>
                            <li><a href="/blogs/category/5">Cá</a></li>
                            <li><a href="/blogs/category/6">Lưỡng Cư</a></li>
                            <li><a href="/blogs/category/7">Côn Trùng</a></li>
                            <li><a href="/blogs/category/8">Giáp Xác</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="/blogs/new/<%= user._id %>" title="">New Blog</a></li>
                    <!-- <li><a href="/user/<%= user._id %>/myBlogs" title="">My Blog</a></li> -->
                    <li><a href="/user/<%= user._id %>" title="">Profile</a></li>
                    
                    <li><a href="/user/about" title="">About</a></li>
                    <li><a href="/user/contact" title="">Contact</a></li>
                    <li><a href="/user/cart/<%= user._id%>">Cart </a> </li>
                    <li><a href="/user/addmoney/<%= user._id%>">Add money</a></li>
                </ul> <!-- end header__nav -->

                <a href="#0" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->
            
            <a class="s-header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
            
             
            <div class="s-header__search">
                    
                <label>
                    <form action="/blogs/search" method="post"class="s-header__search-form">
                        <input type="hidden" id="userID" class="userID" name="userID" value="<%= user._id %>">
                        <span class="hide-content">Search for:</span>
                        <input type="search" id="search" class="s-header__search-field" placeholder="Type Your Keywords" value="" name="search" title="Search for:" autocomplete="off">
                        <!-- <button type="submit">Search</button> -->
                    </form>
                      
                </label> 

                <a href="/user/home" title="Close Search" class="s-header__overlay-close">Close</a>

            </div> <!-- end search wrap -->	

            <a class="s-header__search-trigger" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 18a7.952 7.952 0 004.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0018 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg>
            </a>

        </div> <!-- end s-header__content -->

    </header> <!-- end header -->


        <!-- content
    ================================================== -->
    <section class="s-content site-page">
        <div class="row">
            <div class="column large-12">

                <section>

                    <div class="s-content__media">
                        <img src="/images/thumbs/contact/contact-1050.jpg" 
                             srcset="/images/thumbs/contact/contact-2100.jpg 2100w, 
                             /images/thumbs/contact/contact-1050.jpg 1050w, 
                             /images/thumbs/contact/contact-525.jpg 525w" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                    </div> <!-- end s-content__media -->

                    <div class="s-content__primary">

                        <h1 class="s-content__title">Làm sao để liên lạc với chúng tôi?</h1>	

                        <p class="lead">Chào mừng bạn đến với trang Liên Hệ của chúng tôi! Chúng tôi luôn hoan nghênh mọi ý kiến đóng góp, phản hồi và câu hỏi từ bạn. Dưới đây là thông tin liên hệ để bạn có thể liên lạc với chúng tôi:</p> 

                        <p>
                           
                                                      
                            Chúng tôi luôn trân trọng mọi phản hồi và ý kiến của bạn. Dù đó là để đề xuất nội dung mới, góp ý cải thiện hoặc bất kỳ vấn đề nào khác, chúng tôi sẵn sàng lắng nghe. Hãy liên hệ với chúng tôi và chúng tôi sẽ cố gắng phản hồi bạn một cách nhanh chóng.
                            
                            </p>

                        <hr>

                        <div class="row block-large-1-2 block-tab-full s-content__blocks">
                            <div class="column">
                                <h4>Where to Find Us</h4>
                                <p>
                                    Địa Chỉ: Đại học Khoa học Tự nhiên, thành phố Hồ Chí Minh, Việt Nam<br>
                                <br>
                                </p>
                            </div>

                            <div class="column">
                                <h4>Contact Info</h4>
                                <p>
                                    Email: contact@animalworldblog.com<br>
                                    Số Điện Thoại: (+84) 123 456 789 <br>
                                    Mạng Xã Hội: Bạn cũng có thể theo dõi chúng tôi trên các mạng xã hội để cập nhật thông tin mới nhất về các bài viết và hoạt động của chúng tôi.
                                </p> 
                            </div>
                        </div> <!-- end s-content__blocks -->

                    </div> <!-- end s-content__primary -->

                </section>

            </div> <!-- end column -->
        </div> <!-- end row -->
    </section> <!-- end s-content -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">

            <div class="row">

                <div class="column large-4 medium-6 tab-12 s-footer__info">

                    <h5>About Our Site</h5>

                    <p>
                        Trang web của chúng tôi là một dự án học tập và đam mê, được xây dựng bởi những con người đam mê về công nghệ và yêu thương động vật. Chúng tôi hi vọng rằng trang web sẽ mang đến sự hiểu biết về thế giới động vật và tạo cơ hội cho mọi người kết nối và chia sẻ đam mê của họ về động vật.                        </p>

                </div> <!-- end s-footer__info -->

                <div class="column large-4 medium-6 tab-12 s-footer__site-links">

                    <h5>Site Links</h5>

                    <ul>
                        <li><a href="/user/about">About Us</a></li>
                        <li><a href="/user/home">Blog</a></li>
                        <li><a href="/user/contact">FAQ</a></li>
                    </ul>

                </div> <!-- end s-footer__site-links -->  

                <div class="column large-4 medium-6 tab-12 s-footer__social-links">

                    <h5>Social</h5>

                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100071044693606">Facebook</a></li>
                        <li><a href="https://www.instagram.com/khanggg_3011/">Instagram</a></li>
                    </ul>

                </div> <!-- end s-footer__social links --> 

                <!-- <div class="column large-4 medium-12 s-footer__subscribe">

                    <h5>Subscribe</h5>

                    <p>Keep yourself updated. Subscribe to our newsletter.</p>

                    <div class="subscribe-form">
                
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Type &amp; press enter" required=""> 
                
                            <input type="submit" name="subscribe" >
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>

                    </div>

                </div>  -->

            </div> <!-- end row -->

        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="column">
                    <div class="ss-copyright">
                        <span>© Copyright Abstract 2023</span> 
                        <span>Design by <a href="https://www.facebook.com/profile.php?id=100071044693606">Web developers</a></span>		         	
                    </div> <!-- end ss-copyright -->
                </div>
            </div> 

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

   </footer> <!-- end s-footer -->


   <!-- Java Script
   ================================================== --> 
   <script src="/Jquery3.7.0.min.js"></script>
   <script src="/plugins.js"></script>
   <script src="/main.js"></script>

</body>

</html>