  <!DOCTYPE html>
  <!--=== Coding by CodingLab | www.codinglabweb.com === -->
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <!----======== CSS ======== -->
      <link rel="stylesheet" href="/StyleMenuUser2.css">
       
      <!----===== Iconscout CSS ===== -->
      <!-- <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
      <!-- <link rel="stylesheet" href="https://fontawesome.com/icons/thumbs-up?f=sharp&s=solid"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
      <!-- Font Awesome Icons -->
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" href="/all.css">
      <link rel="stylesheet" href="/fontawesome.css">
      <link rel="stylesheet" href="/fontawesome.min.css"> -->
      <title>User Board</title> 
     
  </head>
  <body>
      <nav>
          <div class="logo-name">
             
              <a href="/user/home">
                  <i class="fa-brands fa-wolf-pack-battalion fa-bounce fa-2xl"></i>
                  <span class="logo_name">Animal World</span>
              </a>
              
          
                  <div class="logo-image"><a href="#"> <img src="data:<%= user.avatarimg.contentType %>;base64,<%= user.avatarimg.data.toString('base64') %>" class="card-img" alt="...">
                
                  <div class="logo-image">
                    <h2><%= user.username %></h2>
                    <% if(user.isUservip){%>
                      <i class="fas fa-star fa-sm"></i>
                    <%}%>
                  </div>

         
          </div>
  
          <div class="menu-items">
              <ul class="nav-links">
                  <li><a href="#" onclick="showDashboard()">
                    <i class="fas fa-home"></i>
                      <span class="link-name">Dashboard</span>
                  </a></li>
                  <!-- <li><a href="#"onclick="showBookmark()">
                    <i class="fas fa-regular fa-newspaper"></i>
                      <span class="link-name">My articles</span>
                  </a></li>
                  <li><a href="/user/<%= user._id %>/myBlogs">
                        <i class="fas fa-regular fa-bell"></i>
                      <span class="link-name">Notifications</span>
                  </a></li> -->
                  <li><a href="/user/<%= user._id %>/editProfile">
                        <i class="fas fa-user-edit"></i>
                      <span class="link-name">Edit profile</span>
                  </a></li>
              </ul>
              
              <ul class="logout-mode">
                  <li><a href="/user/logout">
                      <i class="uil uil-signout"></i>
                      <span class="link-name">Logout</span>
                  </a></li>
  
                  <li class="mode">
                      <a href="#">
                          <i class="uil uil-moon"></i>
                      <span class="link-name">Dark Mode</span>
                  </a>
  
                  <div class="mode-toggle">
                    <span class="switch"></span>
                  </div>
              </li>
              </ul>
          </div>
      </nav>
  
      <section id="dash board"class="dashboard">
          <div class="top">
              <i class="uil uil-bars sidebar-toggle"></i>
  
              <!-- <div class="search-box">
                  <i class="uil uil-search"></i>
                  <input type="text" placeholder="Search here...">
              </div> -->
              <div></div>
          <!-- <div class="user-link">
              <a href="#"></a><img src="./assets/imagesMenuUser/profile2.jpg" alt=""></a>
              <div class = "sub-menu-1">
                  <ul>
                  <li>
                  <button class="btn-post">
                      <span>Dratf an aticle&nbsp;&nbsp;<i class="fa-solid fa-pen"></i></span>
                  </button>
                  </li>
                  <li>
                      <button class="btn-post">
                          <span>Edit profile&nbsp;&nbsp;<i class="fa-solid fa-user"></i></span>
                      </button>
                  </li>
                  </ul>
              </div>
          </div> -->
          </div>
  
          <div class="showw" id="showw">
  
          </div>
  
          <div id="dash-content" class="dash-content">
              <div class="overview">
                  <div class="title">
                      <i class="uil uil-tachometer-fast-alt"></i>
                      <span class="text">Dashboard</span>
                  </div>
  
                  <div class="boxes">
                      <div class="box box1">
                        <i class="far fa-wallet"></i>
                          <span class="text">Account Balance</span>
                          <span class="number">$<%= user.user_wallet%></span>
                      </div>
                      <!-- <div class="box box2">
                          <i class="uil uil-comments"></i>
                          <span class="text">Comments</span>
                          <span class="number">20,120</span>
                      </div>
                      <div class="box box3">
                          <i class="uil uil-share"></i>
                          <span class="text">Total Share</span>
                          <span class="number">10,120</span>
                      </div> -->
                  </div>
              </div>
  
              <div class="activity">
                  <div class="title">
                    <i class="far fa-newspaper"></i>
                      <span class="text">Purchased article</span>
                  </div>
  
                  <% if (boughtBlogs.length < 1) { %>
                    <p class="text-white">You haven't bought any posts yet.</p>
                  <% } else { %>
                    <% boughtBlogs.forEach(blog => { %>
                      <div class="Purchased-article">
                        <div class="img-article">
                          <% if (blog.img && blog.img.data) { %>
                            <img src="data:<%= blog.img.contentType %>;base64,<%= blog.img.data.toString('base64') %>" class="card-img" alt="...">
                          <% } %>
                        </div>
                        <div class="post-title-article">
                          <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                          <p><%- blog.introduction %></p>
                        </div>
                        <div class="btn-group">
                            <div class="btn-row">
                        <a href="/blogs/<%=blog.slug %>" ><button class="btn-article">Read more</button></a>
                            </div>
                        </div>
                      </div>
                    <% }) %>
                  <% } %>
              </div>
                  
                </div>
                <div class="activity">
                  <div class="title">
                    <i class="far fa-newspaper"></i>
                      <span class="text">My blogs</span>
                  </div>
  
                  <% if (blogs.length < 1) { %>
                    <p class="text-white">You haven't written posts yet.</p>
                  <% } else { %>
                    <% blogs.forEach(blog => { %>
                      <div class="Purchased-article">
                        <div class="img-article">
                          <% if (blog.img && blog.img.data) { %>
                            <img src="data:<%= blog.img.contentType %>;base64,<%= blog.img.data.toString('base64') %>" class="card-img" alt="...">
                          <% } %>
                        </div>
                        <div class="post-title-article">
                          <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                          <p><%- blog.introduction %></p>
                        </div>
                        <div class="btn-group">
                            <div class="btn-row">
                              <a href="/blogs/<%=blog.slug %>" ><button class="btn">Read more</button></a>
                              <a href="/user/<%= user._id %>/editBlogs/<%= blog._id %>" ><button class ="btn">Edit</button></a>
                              <form action="/blogs/<%= blog._id %>/delete" method="POST"> <!-- Sử dụng phương thức POST -->
                                  <button type="submit" class="btn">Delete</button>
                                </form>
                            </div>
                        </div>
                      </div>
                    <% }) %>
                  <% } %>
              </div>
      </section>
      
      
      <script src="/fontawesome.js"></script>
      <script src="/fontawesome.min.js"></script>
      <script src="/MenuUser2.js"></script>
  </body>
  </html>