<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Professional Blog</title>
</head>
<body>
    <main class="blog-content">
        <article class="s-post entry format-standard">

            <div class="s-content__media">
                <div class="s-content__post-thumb">
                   <img src="data:<%= blog.img.contentType %>;base64,<%= blog.img.data.toString('base64') %>" class="card-img" alt="...">
                </div>
            </div> <!-- end s-content__media -->
        
            <div class="s-content__primary">
        
                <h2 class="s-content__title s-content__title--post"><%= blog.title %></h2>
        
                <ul class="s-content__post-meta">
                    <li class="date"><%= blog.timeCreated.toLocaleDateString() %></li>
                    <li class="cat"><a href=""><%= blog.author %></a></li>
                </ul>
        
                <p class="lead">
                    <%- blog.description %> </p> 
        
                <p>
        
                <p class="s-content__post-tags"Tags:>
                    <span>Tagged in :</span>
                    <!--<a href="#">orci</a><a href="#">lectus</a><a href="#">varius</a><a href="#">turpis</a> -->
                     <%= blog.tags %>
                </p>
        
            </div> <!-- end s-content__primary -->
        </article>
        <a href="/admin/home" class="btn btn-secondary mt-3">Go Back</a>
        
    </main>
</body>