<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thế giới loài vật</title>
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

     <link rel="stylesheet" href="/owl.carousel.min.css">
     <link rel="stylesheet" href="/owl.theme.default.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/StyleComment">
    <link rel="stylesheet" href="/Style.css">

    </head>
<body>
  <!--------- Navigation ---------->
  <nav class="nav">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#" class="text-gray">Thế giới loài vật</a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="/blogs/main">Home</a>
                </li>
                <li class="nav-link">
                    <a href="/user/login">Login</a>
                </li>
                <li class="nav-link">
                    <a href="/user/login">Animal</a>
                    
                </li>
                <li class="nav-link">
                    <a href="/user/login">New Blog</a>
                </li>
                <li class="nav-link">
                    <a href="/user/login">Profile</a>
                </li>
                <li class="nav-link">
                    <a href="/user/login">About us</a>
                </li>
                <li class="nav-link">
                    <a href="/user/login">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <form action="/blogs/search1" method="post">

            <!-- <input class="srch" type="search" name="" placeholder="Type To search"> -->
            <input type="search" id="search" class="srch" placeholder="Type Your Keywords" value="" name="search" title="Search for:" autocomplete="off">

           <button class="btn" type="submit">Search</button>
            </form>
        </div>
        
    </div>

     <!------------------------ Site Title ---------------------->
    <section class="home">
        
        <video class="video-slide" src="/video/tiger.mp4" autoplay muted loop></video>
        <div class="content active">
            <h1>Animal World<br><span>Island</span></h1>
            <p>A wonderful place to explore and learn about the diverse and wonderful world of animals. This website provides vivid, fascinating and detailed information about animals, from the smallest species to the giants on earth. Through exploration, this site will inspire you about the importance of protecting and respecting the lives of these amazing creatures.</p>
            <a href="/user/login">Read More</a>
        </div>

    </section>
    <!------------x----------- Site Title ----------x----------->

    
</nav>
    <!----------------------------- Main Site Section ------------------------------>
    <main>
        <!-- --------------------- Blog Carousel ----------------- -->
        <section>
            <div class="blog">
                <div class="container">
                    <div class="owl-carousel owl-theme blog-post">
                        <% if(blogs.length<1){%>

                            <p class="text-white">No posts yet, create a new one</p>
                
                            <%  } %>
                
                            <% blogs.forEach(blog=>{ %>
                            
                        <% if(blog.isPremium){ %>
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="data:<%= blog.img.contentType %>;base64,<%= blog.img.data.toString('base64') %>" class="img" alt="...">
                            <div class="blog-title">
                                <h3><%= blog.title %></h3>
                                <button onclick="window.location.href = '/user/login';" class="btn btn-blog">Mua ngay</button>
                                  <span><%= blog.timeCreated.toLocaleDateString() %></span>
                            </div>
                        </div>     
                        <% }  %>    
                        <% }) %>         
                    </div>     
                    <div class="owl-navigation">
                        <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                    </div>  
                </div>
            </div>
        </section>
        <!-- -----------x--------- Blog Carousel --------x-------- -->
         <!-- ---------------------- Site Content ------------------------ -->

         <section class="container">
            <div class="site-content">
            
                <div class="posts">
                    <% if(blogs.length<1){%>

                        <p class="text-white">No posts yet, create a new one</p>
            
                        <%  } %>
            
            
                        <% blogs.forEach(blog=>{ %>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200"> 
                        <!-- hai thuộc tính "data-aos" và "data-aos-delay" để cung cấp hiệu ứng và sự trễ khi xuất hiện cho đối tượng này. -->
                        <div class="post-image">
                            <div>
                                <img src="data:<%= blog.img.contentType %>;base64,<%= blog.img.data.toString('base64') %>" class="img" alt="...">
                            </div>
                
                            <div class="post-info flex-row" onclick="window.location.href = '/user/login';">
                                <!-- &nbsp dùng tạo khoảng trắng giữa các phần tử hoặc các từ trong văn bảng -->
                                      
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;<%= blog.author %></span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;<%= blog.timeCreated.toLocaleDateString() %></span>
                                <button class="btn-cmt">
                                    <span> <%= blog.comments.length %></span>
                                </button>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="/user/login"><%= blog.title %>
                            </a>
                            <p><%- blog.introduction %>
                            </p>
                            <button onclick="window.location.href = '/user/login';" class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <% }) %>
                          

            <!-- --------------------------- Share ---------------------------------------- -->
           
                </div>
                <aside class="sidebar">
                    
                    <div class="popular-post">
                        <h2>Popular Post</h2>
                        <% if(popularblogs.length<1){%>

                            <p class="text-white">No posts yet, create a new one</p>
                
                            <%  } %>
                
                
                            <% popularblogs.forEach(blog=>{ %>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                            <div class="post-image">
                                <div><a href="/blogs/<%=blog.slug %>">
                                        <img src="data:<%= blog.img.contentType %>;base64,<%= blog.img.data %>" class="img" alt="...">
                                    </a>
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;<%= blog.timeCreated.toLocaleDateString() %></span>
                                    <span><%= blog.comments.length %> Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">><%- blog.title %></a>
                            </div>
                        </div>
                        <% }) %>
           
                    
                </aside>
            </div>
        </section>
    </main>
    


    <!-- --------------------------- Footer ---------------------------------------- -->

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>About us</h2>
                <p>Trang web của chúng tôi là một dự án học tập và đam mê, được xây dựng bởi những con người đam mê về công nghệ và yêu thương động vật. Chúng tôi hi vọng rằng trang web sẽ mang đến sự hiểu biết về thế giới động vật và tạo cơ hội cho mọi người kết nối và chia sẻ đam mê của họ về động vật.</p>
            </div>
            <!-- <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div> -->
            <div class="instagram" data-aos="fade-left" data-aos-delay="200">
                <h2>Facebook</h2>
                <div class="flex-row">
                    <img src="/instagram/khang.png" alt="insta1">
                    <img src="/instagram/dat.png" alt="insta2">
                    <img src="/instagram/kiet.png" alt="insta3">
                </div>
                <div class="flex-row">
                    <img src="/instagram/hoang.png" alt="insta4">
                    <img src="/instagram/ben.png" alt="insta5">
                    <!-- <img src="/instagram/thumb-card8.png" alt="insta6"> -->
                </div>
            </div>
            <div class="follow" data-aos="fade-left" data-aos-delay="200">
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <div>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2023 All rights reserved | made by
                <a href="www.youtube.com/c/Le Van Dat" target="_black">Le Van Dat <i class="fab fa-youtube"></i>
                    Channel</a>
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>

    <!-- -------------x------------- Footer --------------------x------------------- -->
        <!-- -----------x---------- Site Content -------------x------------>
    <!-------------x--------------- Main Site Section ---------------x-------------->
     <!-- Jquery Library file -->
     <script src="/Jquery3.7.0.min.js"></script>
      <!-- --------- Owl-Carousel js ------------------->
    <script src="/owl.carousel.min.js"></script>
     <!-- ------------ AOS js Library  ------------------------- -->
     <script src="/aos.js"></script>
     <!-- Custom Javascript file -->
     <script src="/main.js"></script>

     <script src="/fontawesome.js"></script>
     <script src="/fontawesome.min.js"></script>
  
</body>
</html>